/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #4481eb ;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--text-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: relative;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    gap: 1rem;
    grid-auto-rows: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min( 100%, 5rem,) 1fr));
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    padding: 12px 60px;
    color: var(--sidebar-color);
    background: var(--primary-color);
}

.titulo {
    font-size: 20px;
    font-weight: 500;
    padding: 12px 30px;
    color: var(--sidebar-color);
    background: var(--primary-color);
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

section {
    width: 100%;
    height: 100%;
}

.fecha {
    background-color: var(--toggle-color);
    width: 100%;
    height: 3%;
}

/* Registro + permiso */
.lista {
    background-color: var(--sidebar-color);
    border: 1px solid var(--sidebar-color);
    width: 55%;
    height: 760px;
    margin: 30px auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.34);
    transition: all .3s ease-in-out;
    gap: 1rem;
    grid-auto-rows: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min( 100%, 5rem,) 1fr));
}

.tab-l {margin: 3% auto;}

.tab-l {
    height: 90%;
    padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.64);
   
}

.tab-l tr {
	padding: 5px;
    
}

table td, table th {
	padding: 10px;
	text-align: center;
}

table th {
	text-transform: uppercase;
	font-family: 18px;
	letter-spacing: 1px;
}

.tab-l input[type="checkbox"] {
    cursor: pointer;
}

.input-field {
    max-width: 300px;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.input-field i {
    text-align: center;
    line-height: 45px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input, select {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder, option {
    color: #aaa;
    font-weight: 500;
} 

.btn-canc {
    border: 1px solid #D6EAF8;
    background-color: #D6EAF8;
    color: black;
}

.btn-list {
    background-color: #808B96;
}

button {
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #3d9be9;;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .4s ease-in-out;
 }

 button:hover {
    transform: scale(0.9);
    background-color: #BDC3C7;
    border: none;
    color: white;
 }
 .lista .tab-l tr {
     height: 60px;
 }

 .td-btn {
    width: 50px;
    height: 80px;
 }

 .td-check, .td-menú {
    width: 260px;
 }

 .td-input { padding: 10px 0 10px 20px;}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5,5%;
    background: var(--primary-color);
}    

.copyr {
    text-align: center;
    color: var(--sidebar-color);
    margin-top: 10px;
}


/*//////////////////////////////////////////////*/

@media screen and (max-width: 1096px) {

    .lista {
        width: 100%;
    }

    .footer {
        position: fixed;
        
    }
}
